html {
    background: #EBE8E2;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #18453B;
    background: #EBE8E2;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

.blog-post {
    border-top: 1px dotted #18453B;
}

.blog-post-2 {
    border-top: 1px dotted #18453B;
}

article {
    border-bottom: 1px solid #18453B;
}

.section{
    display: flex;
    gap: 15px;
}

.a1p1 {
    flex: 2;
}

.a3p3 {
    flex: 2;
}

.msuteam {
    float: right;
    height: 333px;
    width: 600px;
    margin-top: 20px;
    border-radius: 30px;
}

table {
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #18453B;
    color: white;
}

time {
    font-weight: bold;
}

header {
    height: 200px;
    padding: 0px;
    background-color: #EBE8E2;
    z-index: 99;
    position: sticky;
    top: 0;
}

.section2{
    display: flex;
    gap: 15px;
}

.a5p5 {
    flex: 2;
}

.a7p7 {
    flex: 2;
}

.breslin {
    border-radius: 30px;
    float: right;
    height: 333px;
    width: 600px;
}

#name {
    font-weight: bold;
}

#name2 {
    font-weight: bold;
}

.number {
    padding-left: 40px;
    padding-right: 20px;
}

.player {
    padding-right: 20px;
}

.pictureofme {
    border-radius: 30px;
}

[rel="true"] {
    padding-top: 20px;
    font-weight: bold;
}